<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives: </b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular librarues for Data Science</li>
    <li>List popular tools for Data Science</li>
</ul>

In this notebook, Data Science Tools and Ecosystem are summarized.
<ol>
    <li>python</li>
    <li>R</li>
    <li>julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy</li>
    <li>Keras</li>
    <li>Pandas</li>
</ol>

|Data Science Tools|
--------------------
|TensorFlow|
|Tableau|
|excel|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

<h2>Author</h2>
Stavroula Alexia